body{
  overflow-x: hidden;
}
.orders{
  display: flex;
  height: auto;
  width: 100vw;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.orderTable{
  padding: 2% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(247,247,247);
  width: 70%;
  height: auto;
  text-align:center;
  margin-top:2rem
}
.table{
  width: 100%;
  margin-top: 35px;
}
th{
  border-bottom: 2px solid ;
  padding-bottom: 5px;
}
.td, td{
  border:2px solid #fff !important;
}
.formDiv{
  position: relative;
  top:50px;
  width: 70vw;
  left: 15vw;
  background-color: rgb(235,236,240);
  border: 2px solid #000;
  padding: 20px;
  height: 40vh;
  border-radius: 20px;
}
.modalDiv{
  position: fixed;
  width: 40vw;
  left: 30vw;
  border: 2px solid black;
  z-index: 5;
  background-color: rgb(61, 70, 85);
  padding: 15px;
  height: 35vh;
  border-radius: 15px;
  color: rgb(13,202,240);
}
.icons{
  width: 20px;
  height: 20px;
}
.iconButtons{
  border:none;
  background-color: transparent;
}